.idea
*.iml
target

src/main/resources/drinkcounter/general-configuration-default.properties
src/main/resources/drinkcounter/jdbc-default.properties

# Mac files
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
