.idea
*.iml
target

src/main/resources/drinkcounter/general-configuration-default.properties
src/main/resources/drinkcounter/jdbc-default.properties

# Mac files
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Playwright e2e
e2e/node_modules
e2e/test-results
e2e/playwright-report
e2e/.cache
