body {
    background-color: #505050;
    color: white;
    font-size: 1.5em;
}

.drinker {
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.party {
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.navbar-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

label {
    font-size: 1em;
}

.modal, .modal-footer {
    background-color: black;
}

.modal-body {
    background-color: #505050;
}

.ui-pnotify-icon {
    display: none;
}

.ui-pnotify-title {
    font-size: 1.0em;
    line-height: 1.2em;
    margin-bottom: 1.0em;
}

.ui-pnotify-text {
    font-size: 0.8em;
}

.color1 { background-color: #65E6A4; }
.color2 { background-color: #65A8E6; }
.color3 { background-color: #68E665; }
.color4 { background-color: #1DB466; }
.color5 { background-color: #A8E665; }
.color6 { background-color: #DD318A; }
.color7 { background-color: #E6E465; }
.color8 { background-color: #E66568; }
.color9 { background-color: #65E6E4; }
.color10 { background-color: #6568E6; }
.color11 { background-color: #31DD84; }
.color12 { background-color: #A465E6; }
.color13 { background-color: #B41D6B; }
.color14 { background-color: #E465E6; }
.color15 { background-color: #E6A465; }
.color16 { background-color: #E665A8; }

.navbar {
    border: 0px;
}

.navbar-inner {
    border: 0px;
    background-image: none;
    background-color: black;
    color: white;
}

.navbar .brand, .navbar .nav > li > a {
    color: white;
    text-shadow: 0 1px 0 #777;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    color: white;
    text-decoration: underline;
}

.historyGraphContainer {
    background-color: #E6A465;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
}

#historyGraph {
    height: 280px;
}