<form class="datetimepicker" method="post" action="#">
    <table>
        <tr>
            <td><input type="submit" value="+" /></td>
            <td><input type="submit" value="+" /></td>
            <td><input type="submit" value="+" /></td>
        </tr>
        <tr>
            <td><input type="text" value="1" size="2" />.</td>
            <td><input type="text" value="1" size="2" />.</td>
            <td><input type="text" value="2011" size="4" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="-" /></td>
            <td><input type="submit" value="-" /></td>
            <td><input type="submit" value="-" /></td>
        </tr>
        
        <tr>
            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
        </tr>
        
        <tr>
            <td><input type="submit" value="+" /></td>
            <td><input type="submit" value="+" /></td>
            <td><input type="submit" value="+" /></td>
        </tr>
        <tr>
            <td><input type="text" value="00" size="2" /></td>
            <td><input type="text" value="00" size="2" /></td>
            <td><input type="text" value="00" size="2" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="-" /></td>
            <td><input type="submit" value="-" /></td>
            <td><input type="submit" value="-" /></td>
        </tr>
    </table>
</form>