<div id="edit${UserId}" class="editDrink">
    <h1>Muokkaa juomaa</h1>
        
    <form>
        <label for="portionSize">Annoskoko</label>
        <select id="portionSize">
            <option>4 cl</option>
            <option>8 cl</option>
            <option>16 cl</option>
            <option>0,2 l</option>
            <option selected="selected">0,3 l</option>
            <option>0,4 l</option>
            <option>0,5 l</option>
            <option>0,6 l</option>
            <option>1,0 l</option>
        </select>
        <br />
        <label for="portionAlcoholPercentage">Alkoholi-%</label>
        <select id="portionAlcoholPercentage">
            <option selected="selected">0-5%</option>
            <option>6-10%</option>
            <option>11-15%</option>
            <option>16-20%</option>
            <option>21-25%</option>
            <option>26-30%</option>
            <option>31-35%</option>
            <option>36-40%</option>
            <option>41-45%</option>
            <option>46-50%</option>
            <option>51-55%</option>
            <option>56-60%</option>
            <option>61-65%</option>
            <option>66-70%</option>
            <option>71-75%</option>
            <option>76-80%</option>         
            <option>81-85%</option>
            <option>86-90%</option>
            <option>91-95%</option>
            <option>96-100%</option>
        </select>
    </form>
    
    <div id="acceptButton${UserId}" class="divButton">Hyväksy</div>
</div>