<div id="edit${UserId}" class="editDrink">
    <h1>Muokkaa juomaa</h1>
        
    <form>
        <label for="portionSize">Annoskoko</label>
        <select id="portionSize${UserId}">
            <option value="0.04">4 cl</option>
            <option value="0.08">8 cl</option>
            <option value="0.16">16 cl</option>
            <option value="0.2">0,2 l</option>
            <option value="0.3" selected="selected">0,3 l</option>
            <option value="0.4">0,4 l</option>
            <option value="0.5">0,5 l</option>
            <option value="0.6">0,6 l</option>
            <option value="1.0">1,0 l</option>
        </select>
        <br />
        <label for="portionAlcoholPercentage">Alkoholi-%</label>
        <select id="portionAlcoholPercentage${UserId}">
            <option value="0.05" selected="selected">0-5%</option>
            <option value="0.10">6-10%</option>
            <option value="0.15">11-15%</option>
            <option value="0.20">16-20%</option>
            <option value="0.25">21-25%</option>
            <option value="0.30">26-30%</option>
            <option value="0.35">31-35%</option>
            <option value="0.40">36-40%</option>
            <option value="0.45">41-45%</option>
            <option value="0.50">46-50%</option>
            <option value="0.55">51-55%</option>
            <option value="0.60">56-60%</option>
            <option value="0.65">61-65%</option>
            <option value="0.70">66-70%</option>
            <option value="0.75">71-75%</option>
            <option value="0.80">76-80%</option>         
            <option value="0.85">81-85%</option>
            <option value="0.90">86-90%</option>
            <option value="0.95">91-95%</option>
            <option value="1.00">96-100%</option>
        </select>
    </form>
    
    <div id="acceptButton${UserId}" class="divButton">Hyväksy</div>
</div>