<div id="edit${UserId}" class="editDrink">
    <h1>Muokkaa juomaa</h1>
        
    <form>
        <label for="portionSize">Annoskoko</label>
        <select id="portionSize">
            <option>0,33 l</option>
            <option>0,5 l</option>
            <option>Pintti (0,568 l)</option>
        </select>
        <br />
        <label for="portionAlcoholPercentage">Alkoholi-%</label>
        <select id="portionAlcoholPercentage">
            <option>Keskiolut (noin 4,7%)</option>
            <option>A-olut (noin 5,5%)</option>
            <option>Koskenkorva (noin 38%)</option>
        </select>
    </form>
    
    <div id="acceptButton${UserId}" class="divButton">Hyväksy</div>
</div>