<div id="edit${UserId}" class="editDrink">
    <h1>${EditDrinkLabel}</h1>
        
    <form>
        <label for="portionSize">${PortionSizeLabel}</label>
        <select id="portionSize${UserId}">
            <option value="0.04">4 cl</option>
            <option value="0.08">8 cl</option>
            <option value="0.12">12 cl</option>
            <option value="0.16">16 cl</option>
            <option value="0.2">0,2 l</option>
            <option value="0.33" selected="selected">0,33 l</option>
            <option value="0.4">0,4 l</option>
            <option value="0.5">0,5 l</option>
            <option value="0.6">0,6 l</option>
            <option value="1.0">1,0 l</option>
        </select>
        <br />
        <label for="portionAlcoholPercentage">${PortionAlcoholPercentageLabel}</label>
        <select id="portionAlcoholPercentage${UserId}">
            <option value="0.028">2.8%</option>            
            <option value="0.047" selected="selected">4.7%</option>
            <option value="0.052">5.2%</option>
            <option value="0.055">5.5%</option>
            <option value="0.08">8.0%</option>
            <option value="0.12">12.0%</option>
            <option value="0.14">14.0%</option>
            <option value="0.22">22.0%</option>
            <option value="0.30">30.0%</option>
            <option value="0.32">32.0%</option>
            <option value="0.38">38.0%</option>
            <option value="0.40">40.0%</option>
            <option value="0.48">48.0%</option>
            <option value="0.80">80.0%</option>
        </select>
    </form>
    
    <div id="acceptButton${UserId}" class="divButton">${AcceptLabel}</div>
</div>