body {
    background-color: #252525;
}

#login {
    background-color: #000000;
    border: 3px solid #505050;
    border-radius: 10px;
    position: relative;
    z-index:1;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    padding: 5px;
    color: #ffffff;
    text-align: center;
}

#login h2 {
    margin-bottom: 10px;
    font-size: 1.4em;
}

#login table {
    border-spacing: 10px;
    margin-bottom: 10px;
}

#login a {
    color: #aaaaaa;
    text-decoration: none;
}

#apNappula {
    height:67px;
    z-index:2;
}

#apNappula img {
    float: right;
    border: none;
}

#logoContainer {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 100%;
}

#openId {
    padding: 6px;
    width:300px;
    color: #333;
    font-size: 16px;
    font-family: "Arial", "Helvetica", sans-serif;
}

table {
    margin-left:auto;
    margin-right:auto;
}
