body {
    padding: 0px;
    margin: 0px;
    background-color: #505050;
}

a {
    text-decoration: none;
}

li > a, p > a {
    color: #000000;
}

#addDrinkerDialog {
    width: 400px;
}

#kickDrinkerDialog {
    width: 400px;
}

#configureDrinksDialog {
    width: 600px;
}

h1 {
    background-color: #252525;
    color: #ffffff;
    margin: 0px;
    padding: 5px;
    text-shadow: #6a6a6a 2px 2px 0px;
    font-variant: small-caps;
}

h1 > a {
    background-color: #252525;
    color: #ffffff;
    margin: 0px;
    padding: 5px;
    text-shadow: #6a6a6a 2px 2px 0px;
    font-variant: small-caps;
}

h2 {
    text-shadow: #6a6a6a 2px 2px 0px;
    font-variant: small-caps;
    margin: 0px;
}

table#drinkers {
    height: 100%;
    width: 100%;
    border-spacing: 7px;
}

td {
    margin: 5px;
    border: 4px #aaaaaa;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

td.userButton {
    display:table-cell;
    vertical-align:middle;
    margin: 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 1em;
    text-align:center;
    color: #000000;
    font-variant: small-caps;
    cursor: pointer;
}

div.drinker {
    width: 25%;
    height: 300px;
    text-align: center;
    float: left;
}

div.drinker p {
    font-size: 2em;
}

span.name {
    font-size: 200%;
}

span.details {
    font-size: 133%;
}

div.party {
    margin: 5px;
    font-size: 2.0em;
    border-radius: 5px;
    background-color: #50b93e;
    color: #000000;
}

div.party a {
    color: #000000;
}

div#graphDialog {
    padding: 5px;
    width: 600px;
    height: 500px;
    border: 3px solid #505050;
    border-radius: 10px;
    background-color: #252525;
    color: #ffffff;
    display: none;
    position: absolute;
}

div#graphDialog a {
    color: #ffffff;
    z-index: 666;
}

div.dialog {
    padding: 5px;
    border: 3px solid #505050;
    border-radius: 10px;
    background-color: #252525;
    color: #ffffff;
}

.marginAuto {
    margin-left: auto;
    margin-right: auto;
}

div.popupDialog {
    padding: 5px;
    border: 3px solid #505050;
    border-radius: 10px;
    background-color: #252525;
    color: #ffffff;
    display: none;
    position: absolute;
}

div.popupDialog table {
    width: 100%;
}

div.popupDialog th {
    text-align: left;
    width: 25%;
    font-variant: small-caps;
}

div.popupDialog td {
    text-align: right;
}

td input, td select {
    width: 100%;
    background-color: #505050;
    color: #ffffff;
}

td input[type=submit] {
    width: 50%;
}

div.popupDialog a {
    color: #ffffff;
}

#userHistoryContainer {
    padding: 5px;
}

#emailCorrect {
    width:24px;
    height:24px;
}

#partyStartTime {
    margin-left: 10px;
    font-size: 0.4em;
}




/* header stuff */
.headerButton {
    margin: 3px;
    color: #ffffff;
    border: 1px solid #0c0c0c;
    border-radius: 8px;
    font-weight: bold;
    text-shadow: #6a6a6a 3px 3px 2px;
    
    font-variant: small-caps;
    font-size: 2em;
    
    width: 40px;
    height: 40px;
    background-color: #50b93e;
    background-repeat: no-repeat;
    background-position: center center;
}

.headerButton a {
    color: #ffffff;
}

.headerButtonLeft {
    float: left;
}

.headerButtonRight {
    float: right;
}

.header {
    text-align: center;
    background-color: #252525;
}

.headerMargin {
    margin-top: 20px;
}

.headerTextDiv {
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}

div#addDrinkerButton {
    background-color: #50b93e;
    background-image: url("/static/images/plus.png");
}

div#goBack {
    background-color: #e60d0f;
    background-image: url("/static/images/back.png");
}

div#graphButton {
    background-color: #dd318a;
    background-image: url("/static/images/chart.png");
}

div#configureButton {
    background-color: #65E6E4;
    background-image: url("/static/images/jakari.png");
}

div#kickDrinkerButton {
    background-color: #e60d0f;
    background-image: url("/static/images/kieltomerkki.png");
}

div#configureDrinksButton {
    background-color: #65E6E4;
    background-image: url("/static/images/jakari.png");
}

div#closeButton {
    background-color: #e60d0f;
    background-image: url("/static/images/x.png");
}

input[disabled] {
    background-color: red;
}

.undo {
    background-color: #000000;
    color: #ffffff;
    position: absolute;
    display: none;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: auto;
}

.undo h1 {
    background-color: #000000;
    color: white;
    font-size: 200%;
    margin-bottom: 5px;
}

.undo div {
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    cursor: pointer;
}

.closeButton {
    float: right;
}

#userButtonTable {
    height:200px;
    margin-left: auto;
    margin-right:auto;
}

#historyGraph {
    height: 300px;
    background-color:#E6A465;
    margin: 5px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    height: 300px;
    border-radius:8px;
}

.marginBox {
    padding: 5px;
}