body {
    padding: 0px;
    margin: 0px;
    background-color: #505050;
}

h1 {
    background-color: #252525;
    color: #ffffff;
    margin: 0px;
    padding: 5px;
    text-shadow: #6a6a6a 2px 2px 0px;
}

div#header {
    text-align: center;
    position: relative;
    font-variant: small-caps;
}

div#addDrinkerButton {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #50b93e;
    color: #ffffff;
    border: 1px solid #0c0c0c;
    border-radius: 5px;
    float: right;
    font-weight: bold;
    text-shadow: #6a6a6a 3px 3px 2px;
}

div#header a {
    color: #ffffff;
    text-decoration: none;
}

table#drinkers {
    height: 100%;
    width: 100%;
    border-spacing: 7px;
}

td {
    margin: 5px;
    border: 4px #aaaaaa;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    background-repeat:no-repeat;
    background-position:center;
}

div.drinker {
    width: 25%;
    height: 300px;
    text-align: center;
    float: left;
}

div.drinker p {
    font-size: 2em;
}

span.name {
    font-size: 200%;
}

span.details {
    font-size: 133%;
}

div#addDrinkerDialog {
    padding: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;
}
