body {
    padding: 0px;
    margin: 0px;
    background-color: #505050;
}

h1 {
    background-color: #252525;
    color: #ffffff;
    margin: 0px;
    padding: 5px;
    text-shadow: #6a6a6a 2px 2px 0px;
    font-variant: small-caps;
}

h1 > a {
    background-color: #252525;
    color: #ffffff;
    margin: 0px;
    padding: 5px;
    text-shadow: #6a6a6a 2px 2px 0px;
    font-variant: small-caps;
}

h2 {
    text-shadow: #6a6a6a 2px 2px 0px;
    font-variant: small-caps;
    margin: 0px;
}

table#drinkers {
    height: 100%;
    width: 100%;
    border-spacing: 7px;
}

td {
    margin: 5px;
    border: 4px #aaaaaa;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

td.userButton {
    display:table-cell;
    vertical-align:middle;
    margin: 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 1em;
    text-align:center;
    color: #000000;
    font-variant: small-caps;
}

div.drinker {
    width: 25%;
    height: 300px;
    text-align: center;
    float: left;
}

div.drinker p {
    font-size: 2em;
}

span.name {
    font-size: 200%;
}

span.details {
    font-size: 133%;
}

div.party {
    margin: 5px;
    font-size: 2.0em;
    border-radius: 5px;
    background-color: #50b93e;
    color: #000000;
}

div.party a {
    text-decoration: none;
    color: #000000;
}

div#graphDialog {
    padding: 5px;
    width: 400px;
    height: 300px;
    border: 3px solid #505050;
    border-radius: 10px;
    background-color: #252525;
    color: #ffffff;
    display: none;
    position: absolute;
}

div#graphDialog a {
    color: #ffffff;
    text-decoration: none;
    z-index: 666;
}

div#addDrinkerDialog {
    padding: 5px;
    border: 3px solid #505050;
    border-radius: 10px;
    background-color: #252525;
    color: #ffffff;
    display: none;
    position: absolute;
}

div#addDrinkerDialog table {
    width: 100%;
}

div#addDrinkerDialog th {
    text-align: left;
    width: 25%;
    font-variant: small-caps;
}

div#addDrinkerDialog td {
    text-align: right;
    width: 75%;
}

td input, td select {
    width: 100%;
    background-color: #505050;
    color: #ffffff;
}

td input[type=submit] {
    width: 50%;
}

div#addDrinkerDialog a {
    color: #ffffff;
    text-decoration: none;
}




/* header stuff */
.headerButton {
    margin: 4px;
    color: #ffffff;
    border: 1px solid #0c0c0c;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: #6a6a6a 3px 3px 2px;
    
    background-color: #252525;
    font-variant: small-caps;
    font-size: 2em;
    
    width: 1em;
    background-color: #50b93e;
}

.headerButton a {
    color: #ffffff;
    text-decoration: none;
}

.headerButtonLeft {
    float: left;
}

.headerButtonRight {
    float: right;
}

div#addDrinkerButton {
    background-color: #50b93e;
}

div#goBack {
    background-color: #e60d0f;
}

div#graphButton {
    background-color: #dd318a;
}

div#configureButton {
    background-color: #65E6E4;
}

.header {
    text-align: center;
    background-color: #252525;
}

.headerTextDiv {
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}
