<div class="navbar hidden-phone">
    <div class="navbar-inner">
        <ul class="nav">
            <li ng-class="active == 'party' && 'active'"><a ng-href="#/party/{{ party.id }}">{{ party.name }}</a></li>
            <li ng-class="active == 'admin' && 'active'"><a ng-href="#/party-admin/{{ party.id }}">Bilettäjät</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="#/">Palaa takaisin</a></li>
        </ul>
    </div>
</div>

<div class="navbar mobile-navbar visible-phone">
    <div class="navbar-inner">
        <ul class="nav">
            <li ng-class="active == 'party' && 'active'"><a ng-href="#/party/{{ party.id }}">{{ party.name }}</a></li>
            <li ng-class="active == 'admin' && 'active'"><a ng-href="#/party-admin/{{ party.id }}"><i class="icon-plus-sign"></i></a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="#/"><i class="icon-chevron-right"></i></a></li>
        </ul>
    </div>
</div>