<div ng-include="'partials/user_menu.html'"></div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10 offset1">
            <div ng-repeat="participant in participants" ng-include="'partials/user_button.html'"></div>

            <h2>Bileesi</h2>

            <p>
                Jos haluat muokata bileitäsi, voit tehdä sen <a href="#/party-admin">bileiden hallinnassa</a>.
            </p>

            <div ng-repeat="party in parties  | orderBy:partySort:true">
                <a href="#/party/{{ party.id }}">
                    <div class="party color{{ ($index % 12) + 1 }}">
                        <div>{{ party.name }} <small style="float: right;">Alkamisaika: {{ party.startTime }}</small></div>
                        <ul class="inline" ng-show="party.participants.length > 0" style="margin-top: 5px; margin-bottom: 0px;">
                            <li ng-repeat="participantPreview in party.participants" participant-preview="participantPreview">
                            </li>
                        </ul>
                    </div>
                </a>
            </div>

            <h2>Historia</h2>

            <div class="historyGraphContainer">
                <div id="historyGraph">
                </div>
            </div>
        </div>
    </div>
</div>
