<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/master :: layout(~{::title}, ~{::#customHead}, ~{::#content})}">
<!--
    This document's own <html>/<head>/<body> are never rendered: th:replace
    above swaps the whole element for the master layout fragment before it's
    serialized. The markup below only exists so ~{::title}, ~{::#customHead}
    and ~{::#content} have something to select from - see fragments/master.html.
-->
<head>
    <title th:text="${party.name}">Ryyppy.net</title>

    <div id="customHead" th:remove="tag">
        <link rel="stylesheet" href="/static/vendor/jquery-ui/1.8.24/jquery-ui-1.8.24.custom.css" type="text/css" media="screen" />

        <!-- hack -->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/vendor/excanvas/excanvas.min.js"></script><![endif]-->
        <script type="text/javascript" src="/webjars/flot/0.7/jquery.flot.min.js"></script>
        <script type="text/javascript" src="/webjars/flot/0.7/jquery.flot.crosshair.min.js"></script>
        <script type="text/javascript" src="/webjars/flot/0.7/jquery.flot.resize.min.js"></script>
        <script type="text/javascript" src="/static/vendor/jquery-ui/1.8.24/jquery-ui-1.8.24.min.js"></script>
        <script type="text/javascript" src="/static/vendor/jquery-tmpl/jquery.tmpl.js"></script>

        <script type="text/javascript" th:src="@{/static/js/common.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/userbutton.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/userbuttongrid.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/drinkerchecks.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/partygraph.js}"></script>
        <script type="text/javascript" th:src="@{/static/js/party.js}"></script>

        <script type="text/javascript" th:inline="javascript">
            var partyId = [[${party.id}]];

            var partyHost = new PartyHost(partyId);
            partyHost.onUpdate = pageUpdate;
            var grid = new UserButtonGrid($('#drinkers'));
            grid.onUserDrunk = onUserDrunk;

            $(document).ready(function() {
                $('#addDrinkerAccordion').accordion({
                    fillSpace: true
                });

                $('#addDrinkerDialog').dialog({ width: 600, autoOpen: false, draggable: false, resizable: false });
                $('#kickDrinkerDialog').dialog({ width: 600, autoOpen: false, draggable: false, resizable: false });
                $('#groupGraphDialog').dialog({
                    autoOpen: false,
                    draggable: false,
                    resizable: false,
                    open: function() {
                        graphDialogOpened();
                    },
                    close: function() {
                        graphDialogClosed();
                    }
                });
            });

            function addAnonymousUser() {
                RyyppyAPI.addAnonymousUserToParty(partyId, $('#drinkerName').val(), $('#drinkerSex').val(), $('#drinkerWeight').val(),
                    function() {
                        partyHost.update();
                        $('#addDrinkerDialog').dialog('close');
                    },
                    function() { alert('fail'); }
                );
                return false;
            }

            function linkUserToParty() {
                RyyppyAPI.linkUserToParty(partyId, $('#userId').val(),
                    function() {
                        partyHost.update();
                        $('#addDrinkerDialog').dialog('close');
                    },
                    function() { alert('fail'); }
                );
                return false;
            }
        </script>
    </div>
</head>
<body>
    <div id="content" th:remove="tag">
        <div class="header">
            <table style="width: 100%;" class="noBorders">
                <tr>
                    <td class="headerButton"><a class="headerButtonA" th:title="#{party.tooltip.back}" href="/ui/user"><div id="goBack" class="headerButton headerButtonLeft"></div></a></td>
                    <td class="headerButton"><a id="graphButtonLink" class="headerButtonA" th:title="#{party.tooltip.show_graph}" href="#"><div id="graphButton" class="headerButton headerButtonLeft"></div></a></td>
                    <td class="topic"><h1 class="topic" id="topic">&nbsp;</h1></td>
                    <td class="headerButton"><a id="addDrinkerButtonLink" class="headerButtonA" th:title="#{party.tooltip.add_drinker}" href="#"><div id="addDrinkerButton" class="headerButton headerButtonRight"></div></a></td>
                    <td class="headerButton"><a id="kickDrinkerButtonLink" class="headerButtonA" th:title="#{party.tooltip.remove_drinker}" href="#"><div id="kickDrinkerButton" class="headerButton headerButtonRight"></div></a></td>
                    <td class="headerButton"><a id="uiSwitchButton" class="headerButtonText" th:title="#{ui.switch_to_modern}" href="/app/index.html#/" th:text="#{ui.modern_ui_label}">New UI</a></td>
                </tr>
            </table>
        </div>

        <div id="body">
            <table id="drinkers"></table>
        </div>

        <div id="groupGraphDialog" class="popupDialog" th:title="#{party.group_graph}">
            <div id="groupGraph"></div>
        </div>

        <div id="addDrinkerDialog" class="popupDialog" th:title="#{party.tooltip.add_drinker}">
            <div id="addDrinkerAccordion">
                <h2><a href="#" th:text="#{party.add_drinker.registered}">Add registered user</a></h2>
                <div>
                    <form method="post" action="#">
                        <input type="hidden" name="partyId" th:value="${party.id}" />
                        <input type="hidden" id="userId" name="userId" />

                        <table>
                            <tr>
                                <th th:text="#{form.email}">Email</th>
                                <td>
                                    <input id="emailInput" type="email" name="email"
                                           th:onkeyup="|getIdByEmail($(this).val(), '${party.id}');|"
                                           th:onblur="|getIdByEmail($(this).val(), '${party.id}');|"/>
                                </td>
                                <td id="emailCorrect"></td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td colspan="2"><input id="linkUserButton" type="submit" th:value="#{form.add_drinker}" disabled="disabled" onClick="return linkUserToParty();" /></td>
                            </tr>
                        </table>
                    </form>
                </div>

                <h2><a href="#" th:text="#{party.add_drinker.guest}">Add a guest</a></h2>
                <div>
                    <form method="post" action="#">
                        <input type="hidden" name="partyId" th:value="${party.id}" />
                        <table>
                            <tr>
                                <th th:text="#{form.name}">Name</th>
                                <td><input id="drinkerName" type="text" name="name" onkeyup="checkDrinkerFields(false);" /></td>
                            </tr>
                            <tr>
                                <th th:text="#{form.sex}">Gender</th>
                                <td>
                                    <select id="drinkerSex" name="sex">
                                        <option value="MALE" th:text="#{form.male}">Male</option>
                                        <option value="FEMALE" th:text="#{form.female}">Female</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th th:text="#{form.weight}">Weight</th>
                                <td><input id="drinkerWeight" type="password" name="weight" onkeyup="checkDrinkerFields(false);" autocomplete="off" /></td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td><input id="submitButton" type="submit" th:value="#{form.add_drinker}" onClick="return addAnonymousUser();" disabled="disabled" /></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        <!--
            party.confirm.remove_user/from_party used to be concatenated with
            the participant name straight into an onClick="confirm('...')"
            string, inside this th:each, inside an HTML attribute - the most
            fiddly expression in the page (see #111). Moved the confirm text
            to a data-confirm attribute instead and bound the click handler
            in party.js (initializeButtons -> .kickParticipant), which keeps
            the message/EL/message concatenation out of an attribute value.
        -->
        <div id="kickDrinkerDialog" class="popupDialog" th:title="#{party.remove_drinker}">
            <p th:if="${#lists.size(party.participants) < 2}" th:text="#{party.no_users}">No partiers</p>
            <ul th:unless="${#lists.size(party.participants) < 2}">
                <li th:each="participant : ${party.participants}" th:if="${participant.id != user.id}">
                    <a href="#" class="kickParticipant" th:text="${participant.name}"
                       th:data-user-id="${participant.id}"
                       th:data-confirm="|#{party.confirm.remove_user} ${participant.name} #{party.confirm.from_party}|">Participant name</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
