<div ng-include="'partials/party_menu.html'"></div>

<h1>Lisää uusi bilettäjä</h1>

<form class="form-horizontal" ng-submit="addUser()">
    <div class="control-group">
        <label class="control-label" for="type">Tyyppi</label>
        <div class="controls">
            <select id="type" ng-model="selectedUserTypeId" ng-options="userType.TypeId as userType.TypeName for userType in userTypes">
            </select>
        </div>
    </div>

    <div class="control-group" ng-show="selectedUserTypeId == 1">
        <label class="control-label" for="email">Sähköposti</label>
        <div class="controls">
            <input id="email" type="email" ng-model="email" />
        </div>
    </div>

    <div ng-show="selectedUserTypeId == 2">
        <div class="control-group">
            <label class="control-label" for="name">Nimi</label>
            <div class="controls">
                <input id="name" type="text" ng-model="name" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="weight">Sukupuoli</label>
            <div class="controls">
                <select id="sex" ng-model="sex">
                    <option value="MALE">Mies</option>
                    <option value="FEMALE">Nainen</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="weight">Paino</label>
            <div class="controls">
                <input id="weight" type="password" ng-model="weight" />
            </div>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success">Lisää</button>
        </div>
    </div>
</form>

<h1>Poista bilettäjä</h1>

<div class="row" ng-repeat="participant in participants" style="margin-bottom: 10px;">
    <div class="span11">{{ participant.name }}</div>
    <div class="span1"><button class="btn btn-danger">Poista</button></div>
</div>