<div class="navbar">
    <div class="navbar-inner">
        <span class="brand">{{ party.name }}</span>
        <ul class="nav">
            <li class="active"><a href="#">Bileet!</a></li>
            <li><a href="#">Muokkaa</a></li>
            <li><a href="#">Ryhmägraafi</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="index.html">Palaa takaisin</a></li>
        </ul>
    </div>
</div>

<div ng-repeat="row in rows">
    <div class="row">
        <div class="span4" ng-repeat="participant in row">
            <div ng-include="'partials/user_button.html'"></div>
        </div>
    </div>
</div>
