<div ng-include="'partials/user_menu.html'"></div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="offset1 span10">
            <h1>Lisää uudet bileet</h1>

            <form class="form-horizontal" ng-submit="addParty()">
                <div class="control-group">
                    <label class="control-label" for="partyName">Bileiden nimi</label>
                    <div class="controls">
                        <input id="partyName" type="text" ng-model="partyName" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Lisää bileet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
