<div class="navbar">
    <div class="navbar-inner">
        <span class="brand">Ryyppy.net</span>
        <ul class="nav">
            <li ng-class="active == 'user' && 'active'"><a href="#">Sinä</a></li>
            <li ng-class="active == 'general-party-admin' && 'active'"><a href="#/party-admin">Bileiden hallinta</a></li>
            <li ng-class="active == 'profile-settings' && 'active'"><a href="#/profile-settings">Asetukset</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><a href="/ui/logout">Kirjaudu ulos</a></li>
        </ul>
    </div>
</div>