<div ng-controller="DrinkerCtrl">
    <a ng-click="addDefaultDrink(participant)">
        <div class="drinker">
            <img ng-src="{{ participant.profilePictureUrl }}" />
            {{ participant.name }} {{ participant.totalDrinks }} {{ participant.promilles | number: 2 }}&permil;

            <div id="graph{{ participant.id }}" style="border: 1px solid red; width: 150px; height: 150px;"></div>
        </div>
    </a>


    <div class="modal" ng-show="showDrinkDialog && addingDrink" style="text-align: center">
        <div class="modal-header">
            <h1>Lisätään juomaa käyttäjälle {{ participant.name }}...</h1>
        </div>

        <div class="modal-body">
            <p>Juoman koko on {{ formattedAlcoholSize() }} ja vahvuus {{ formattedAlcoholPercentage() }}.</p>
            <div class="progress">
                <div class="bar"></div>
            </div>
        </div>

        <div class="modal-footer">
            <div class="btn" ng-click="editDrink()">Muokkaa</div>
            <div class="btn btn-danger" ng-click="cancelDrink()">Peru</div>
        </div>
    </div>

    <div class="modal" ng-show="showDrinkDialog && editingDrink" style="text-align: center">
        <div class="modal-header">
            <h1>Muokkaa käyttäjän {{ participant.name }} juomaa</h1>
        </div>

        <form class="form-horizontal" ng-submit="addEditedDrink()" style="margin-bottom: 0px;">
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="portionSize">Annoskoko</label>
                    <div class="controls">
                        <select id="portionSize"
                                ng-model="selectedPortionSize"
                                ng-options="portionSize.value as portionSize.text for portionSize in portionSizes">
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="portionAlcoholPercentage">Alkoholi-%</label>
                    <div class="controls">
                        <select id="portionAlcoholPercentage"
                                ng-model="selectedAlcoholPercentage"
                                ng-options="portionAlcoholPercentage.value as portionAlcoholPercentage.text for portionAlcoholPercentage in portionAlcoholPercentages">
                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Lisää</button>
                <div class="btn btn-danger" ng-click="hideDialog()">Peru</div>
            </div>
        </form>
    </div>
</div>
