<div ng-include="'partials/user_menu.html'"></div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10 offset1">
            <div ng-repeat="participant in participants" ng-include="'partials/user_button.html'"></div>

            <h2>Bileesi</h2>

            <div ng-repeat="party in parties" ng-index="i">
                <a href="#/party/{{ party.id }}">
                    <div class="party color{{ ($index % 12) + 1 }}">
                        {{ party.name }} <small style="float: right;">Alkamisaika: {{ party.startTime }}</small>
                    </div>
                </a>
            </div>

            <p>
                Jos haluat muokata bileitäsi, voit tehdä sen <a href="#/party-admin">bileiden hallinnassa</a>.
            </p>
        </div>
    </div>
</div>
