<div ng-include="'partials/user_menu.html'"></div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="offset1 span10">
            <h1>Lisää uudet bileet</h1>

            <form class="form-horizontal" ng-submit="addParty()">
                <div class="control-group">
                    <label class="control-label" for="partyName">Bileiden nimi</label>
                    <div class="controls">
                        <input id="partyName" type="text" ng-model="partyName" />
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Lisää bileet</button>
                    </div>
                </div>
            </form>

            <div ng-show="parties.length > 0">
                <h2>Bileesi</h2>

                <div ng-repeat="party in parties | orderBy:partySort:true">
                    <div class="row-fluid">
                        <div class="span10 party color{{ ($index % 12) + 1 }}">
                            <div>{{ party.name }} <small style="float: right;"><span class="hidden-phone">Alkamisaika:</span> {{ party.startTime | formatDateTime }}</small></div>
                            <ul class="inline" ng-show="party.participants.length > 0" style="margin-top: 5px; margin-bottom: 0px;">
                                <li ng-repeat="participantPreview in party.participants" participant-preview="participantPreview">
                                </li>
                            </ul>
                        </div>
                        <div class="span2">
                            <button ng-click="removeParticipant(party, participant)" class="btn btn-danger">Poistu bileistä</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
