<div ng-controller="DrinkerCtrl">
    <div class="drinker color{{ participant.color }}" style="position: relative;">
        <div ng-click="addDefaultDrink(participant)" class="container-fluid" style="margin-top: 10px;">
            <div class="row-fluid">
                <div class="span4" style="text-align: center;">
                    <img ng-src="{{ participant.profilePictureUrl }}" />
                    <p>{{ participant.name }}</p>
                </div>

                <div class="span8">
                    <div class="row-fluid">
                        <div class="span12">
                            <div id="graph{{ participant.id }}" style="height: 100px;"></div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12" style="text-align: center;">
                            <p>Juomia: {{ participant.totalDrinks }} kpl</p>
                            <p>Promilleja:  {{ participant.promilles | number: 2 }}&permil;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="showDrinkDialog && addingDrink" class="drinker-overlay">
            <p>Lisätään juomaa käyttäjälle {{ participant.name }}...</p>

            <p>Juoman koko on {{ formattedAlcoholSize() }} ja vahvuus {{ formattedAlcoholPercentage() }}.</p>
            <div class="progress" style="margin-left: 10px; margin-right: 10px;">
                <div class="bar"></div>
            </div>

            <div class="btn" ng-click="editDrink()">Muokkaa</div>
            <div class="btn btn-danger" ng-click="cancelDrink()">Peruuta</div>
        </div>

        <div ng-show="showDrinkDialog && editingDrink" class="drinker-overlay">
            <p>Muokkaa käyttäjän {{ participant.name }} juomaa</p>

            <form ng-submit="addEditedDrink()" class="edit-drink">
                <div style="clear: both;">
                    <label for="portionSize" class="edit-drink-label">Annoskoko</label>
                    <select id="portionSize"
                            ng-model="selectedPortionSize"
                            ng-options="portionSize.value as portionSize.text for portionSize in portionSizes"
                            class="edit-drink-input">
                    </select>
                </div>

                <div style="clear: both;">
                    <label for="portionAlcoholPercentage" class="edit-drink-label">Alkoholi-%</label>
                    <select id="portionAlcoholPercentage"
                            ng-model="selectedAlcoholPercentage"
                            ng-options="portionAlcoholPercentage.value as portionAlcoholPercentage.text for portionAlcoholPercentage in portionAlcoholPercentages"
                            class="edit-drink-input">
                    </select>
                </div>

                <div style="clear: both">
                    <button type="submit" class="btn btn-success">Lisää</button>
                    <div class="btn btn-danger" ng-click="hideDialog()">Peruuta</div>
                </div>
            </form>
        </div>
    </div>
</div>
